header{
    background-color: rgb(245, 240, 219);
    height: 100px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

h1{
    font-size: 28px;
    color: rgb(8, 21, 93);
    font-family: Poppins;
}

.header_img{
    height: 90px;
    margin-left: 10px;
}

.nav_link{
    color: rgb(24, 23, 23);
      text-decoration: none;
       font-size: 16px;
    font-family: Poppins;
    padding: 10px;
}

.nav_bar{
  gap: 10px;
  text-align: center;
  margin-right: 10px;

}